<!DOCTYPE html>
<html lang="en">
  <% var rootPath = './'; %>
  <%- include(rootPath + 'partials/header'); %>
  <link rel="stylesheet" href="../stylesheets/style.css">
<body>
  <h1>メールの確認はすでに完了しています。</h1>
  <p><a href="/login">ここから</a>ログインしてください</p>
</body>
</html>