<!DOCTYPE html>
<html lang="en">
  <% var rootPath = './'; %>
  <%- include(rootPath + 'partials/header'); %>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../stylesheets/style.css">
  <body class="text-center" style="margin-top: 50px;">

  <form action='/login' method='post' >
    <h1 style="@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap'); font-family: 'Space Mono', monospace;">NotAlone</h1>
    <br />
      <h2>Login</h2>
      <div>
          <input type="text" placeholder="Enter Email" class="form-control" style="width: 30%; display: inline;" name="email" required>
      </div>
      <div>
          <input type="password" placeholder="Enter Password" class="form-control" style="width: 30%; display: inline;" name="password" required>
      </div>


        <p>
        Not a member yet ? <a href="/register">Join us</a>
        </p>

    <button formaction="/login"  class="btn btn-brown" type="submit">Login</button>
</form>
</body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet">

</html>