<!DOCTYPE html>
<html lang="en">
  <% var rootPath = './'; %>
  <%- include(rootPath + 'partials/header'); %>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <body>
    <div>
      <h1>自分の情報</h1>
    </div>
    <h1>Hi I'm Takeki Harada</h1>
    <button><a href="/mypage">自分の投稿</a></button>
    <button><a href="/mypage">自分のコメント</a></button>
    <button><a href="/mypage">いいねした投稿一覧</a></button>
    <button><a href="/logout">ログアウト</a></button>
    </p>
  </body>
</html>