<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <form action='register' method='post' enctype="multipart/form-data">
    <div class="container logindiv">
        <h1>Register</h1>
        <% if(notExist){ %>
          <p>something was wrong</p>
        <%}%>
        <div>
          <input type="file" name="img" required>
      </div>
        <div>
            <label>Name : </label>
            <input type="text" placeholder="Enter Your Name" name="name" required>
        </div>
        <div>
            <label>Email : </label>
            <input type="text" placeholder="Enter Email" name="email" required>
        </div>
        <div>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        <p>
            Already a member ?<a href="/login"> Go and log in </a>
        </p>
      <div>
        <button type="submit">Register</button>
      </div>
    </div>
</form>
</body>
</html>