body{
  text-align: center;
  margin-top: 3%;
  /* background-image: url("/images/notAlone2.jpg"); */
  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  /* Full height */
  height: 100%;
}